<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar> <img src="assets/logo" width="115px" height="55px"></mat-toolbar>
      <mat-nav-list>

        <a mat-list-item routerLink="/RechercherActivite" routerLinkActive="active">Rechercher une Activite</a>
        <a mat-list-item routerLink="/AfficherTousLesAnimaux" routerLinkActive="active">Afficher Tous Les Animaux</a>
        <a mat-list-item routerLink="/AfficherTousLesEspeces" routerLinkActive="active">Afficher Toutes Les especes</a>
        <a *ngIf="employe.statut!='visiteur'" mat-list-item routerLink="/EmploiDuTemps" routerLinkActive="active">Emploi du temps</a>
        <a *ngIf="employe.statut=='responsable'" mat-list-item routerLink="/AjouterActivite" routerLinkActive="active">Ajouter une activite</a>
        <a *ngIf="employe.statut=='gestionnaire'" mat-list-item routerLink="/AddAnimal" routerLinkActive="active">Ajouter un animal</a>
        <a *ngIf="employe.statut=='gestionnaire'" mat-list-item routerLink="/AddEspece" routerLinkActive="active">Ajouter une espece</a>
        <a *ngIf="employe.statut=='gestionnaire'" mat-list-item routerLink="/AjouterEmploye" routerLinkActive="active">Ajouter un employe</a>
        <a *ngIf="employe.statut=='gestionnaire'" mat-list-item routerLink="/Affectation" routerLinkActive="active">Nouvelle Affectation</a>
        
        
       
       
        
        
        <a mat-list-item  *ngIf="Signin" (click)="seDeconnecter()">Se déconnecter</a>
        

        
      </mat-nav-list>

    <div *ngIf="employe.statut=='visiteur'">
    <form [formGroup]="employeForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput  formControlName="login" required>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput  formControlName="password"   type="password" required>
      </mat-form-field>
      <br>
    <div>   
        <button mat-raised-button>Login</button>
      </div>

     </form>
    </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>E-Aquarium  </span><span *ngIf="employe.statut!='visiteur'">&nbsp;  Bonjour {{employe.nom}} {{employe.prenom}} </span>
      </mat-toolbar>
    

  
  
  
      <router-outlet ></router-outlet>
  
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <br>
      <br><br>
      <br>
      <br>
      <br><br><br>

      
    </mat-sidenav-content>
  </mat-sidenav-container>
  

