<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar> <img src="assets/logo" width="115px" height="55px"></mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/AjouterActivite" routerLinkActive="active">Ajouter une activite</a>
        <a mat-list-item routerLink="/AddAnimal" routerLinkActive="active">add animal</a>
        <a mat-list-item routerLink="/AddEspece" routerLinkActive="active">add espece</a>
        <a mat-list-item routerLink="/EmploiDuTemps" routerLinkActive="active">Emploi du temps</a>
        <a mat-list-item routerLink="/AfficherTousLesAnimaux" routerLinkActive="active">Afficher Tous Les Animaux</a>
        <a mat-list-item routerLink="/AfficherTousLesEspeces" routerLinkActive="active">Afficher Tous Les especes</a>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>E-Aquarium</span>
      </mat-toolbar>
    
     
  
  
  
      <router-outlet></router-outlet>
  
      <br>
      <br>
      <br>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <br>
      <br><br>
      <br>
      <br>
      <br><br><br>

      
    </mat-sidenav-content>
  </mat-sidenav-container>
  

