.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }



  mat-form-field {
    width: 400px;
}

.pannel{
    text-align: center;
   height: 1700px;
}


table {
    width: 100%;
  }
  

  